html, body 
{
    background: #ffffff;
    margin: 0px;
    font-family: "Segoe UI";
    font-size: 15px;
    overflow: hidden;
    width: 500px;
}

body 
{
    padding: 24px;
}

p 
{
    margin: 0;
}

a 
{
    text-decoration: none;
}

.header 
{
    font-size: 20px;
    display: table;
    margin-bottom: 12px;
}

.header > * 
{
    display: table-cell;
    vertical-align: middle;
}

.ie-logo:before 
{
    content: url('ie_logo.png');
}

.microsoft-logo:before 
{
    content: url('microsoft_logo.png');
}

.intro-row
{
    margin-bottom: 24px;
}

.intro-row p
{
    display: inline;
}

.settings-row 
{
    margin-bottom: 40px;
}

.cta-row 
{
    margin-bottom: 12px;
}

.cta-button 
{
    width: 239px;
    height: 35px;
    background-color: #ddd;
    cursor: pointer;
    display: table;
    text-align: center;
    color: #8e8e8e;
}

.cta-button.enabled
{
    background-color: #bbb;
    color: black;
}

.cta-link 
{
    margin-top: 12px;
}

.cta-button > * 
{
    display: table-cell;
    vertical-align: middle;
}

.settingValue 
{
    font-weight:bold;
}

.setting-item 
{
    display: table;
    margin-bottom: 24px;
    cursor: pointer;
}

.setting-item > * 
{
    display: table-cell;
}

.setting-item-radio 
{
    vertical-align: top;
}

